<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        .gallery-item {
            /* margin-left: 250px; */
            margin-top: 30px;
        }
    </style>
</head>

<body>
<div class="container">
    <nav class="navbar navbar-default" role="navigation"
         style="font-family: Tempus Sans ITC; font-size: 20px; font-weight: bold;">
        <div class="container-fluid">
            <div class="navbar-header">
                <p style="font-size: 25px; color: rgb(6, 107, 141); text-shadow: 3px 3px 3px darkgray;">Delicious</p>
                <!-- <a class="navbar-brand" href="#">Delicious</a> -->
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/menu">Menu</a></li>
                    <li class="active"><a href="/aboutus">About Us</a></li>
                    <li><a href="/contactus">Contact Us</a></li>
                    <li><a href="/faqs">FAQs</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/login">Log in</a></li>
                    <li><a href="/register">Register</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="about-us-title">
        <h3 style="text-align: center; color: rgb(6, 107, 141); font-family: Tempus Sans ITC; font-size: 38px; text-shadow: 3px 3px 3px darkgray;">
            About Us</h3>
    </div>
    <div id="about-us">
        <h4 style="text-align: center; font-size: 20px; color: rgb(56, 107, 141); font-family: MV Boli;">想点文本编上，写死就行</h4>
    </div>
    <div class="row">
        <div class="gallery-item" style="float: left; margin-left: 10px;">
            <img src="about-us-picture.jpg" alt="" class="img-fluid">
        </div>

        <div class="gallery-item" style="float: right; margin-right: 10px;">
            <img src="about-us-picture.jpg" alt="" class="img-fluid">
        </div>

        <div class="gallery-item" style="float: left; margin-left: 10px;">
            <img src="about-us-picture.jpg" alt="" class="img-fluid">
        </div>
        <div class="gallery-item" style="float: right; margin-right: 10px;">
            <img src="about-us-picture.jpg" alt="" class="img-fluid">
        </div>

    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>

</html>