<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQs</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        .faqtable {
            font-family: MV Boli;
            font-size: 15px;
        }
    </style>
</head>

<body>
<div class="row">
    <div class="container">
        <nav class="navbar navbar-default" role="navigation"
             style="font-family: Tempus Sans ITC; font-size: 20px; font-weight: bold;">
            <div class="container-fluid">
                <div class="navbar-header">
                    <p style="font-size: 25px; color: rgb(6, 107, 141); text-shadow: 3px 3px 3px darkgray;">
                        Dancing Taste Buds</p>
                    <!-- <a class="navbar-brand" href="#">Delicious</a> -->
                </div>
                <div>
                    <ul class="nav navbar-nav">
                        <li><a href="/">Home</a></li>
                        <li><a href="/menu">Menu</a></li>
                        <li><a href="/aboutus">About Us</a></li>
                        <li><a href="/contactus">Contact Us</a></li>
                        <li class="active"><a href="/faqs">FAQs</a></li>
                    </ul>
                    {% if info_dict == null %}
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="/login">Log in</a></li>
                            <li><a href="/register">Register</a></li>
                        </ul>
                    {% endif %}
                    {% if info_dict != null %}
                        <ul class="nav navbar-nav navbar-right">
                            <li><a>Welcome {{ info_dict.name }}</a></li>
                            <li><a href="/logout">logout</a></li>
                        </ul>
                    {% endif %}
                </div>
            </div>
        </nav>
        <div id="title">
            <h3 style="text-align: center; color:rgb(6, 107, 141); font-family: Tempus Sans ITC; font-size: 38px; text-shadow: 3px 3px 3px darkgray">
                FAQs</h3>
        </div>
        <div class="faqtable">
            <table class="table table-striped table-bordered table-hover">
                <tr class="info">
                    <td>Q1.</td>
                    <td>How do I contact your office team?</td>
                </tr>
                <tr>
                    <td>A.</td>
                    <td>Please send us an email at Contact Us.</td>
                </tr>
                <tr class="info">
                    <td>Q2.</td>
                    <td>What payment methods can I use?</td>
                </tr>
                <tr>
                    <td>A.</td>
                    <td>We support cash payment, card payment and Apple pay.</td>
                </tr>
                <tr class="info">
                    <td>Q3.</td>
                    <td>Will the dishes in the restaurant change?</td>
                </tr>
                <tr>
                    <td>A.</td>
                    <td>We will update the menu from time to time, so you can enjoy special dishes
                        in special seasons.
                    </td>
                </tr>
                <tr class="info">
                    <td>Q4.</td>
                    <td>Is there any discount for dining in the restaurant?</td>
                </tr>
                <tr>
                    <td>A.</td>
                    <td>Join the Friends Club can enjoy a 10% discount on dining.</td>
                </tr>
                <tr class="info">
                    <td>Q5.</td>
                    <td>How to join our restaurant friends club?</td>
                </tr>
                <tr>
                    <td>A.</td>
                    <td>At checkout, you can apply to join the Friends Club.</td>
                </tr>
                <tr class="info">
                    <td>Q6.</td>
                    <td>What are the benefits of joining the Friends Club?</td>
                </tr>
                <tr>
                    <td>A.</td>
                    <td>Get points after eating, reach different levels and enjoy different free
                        dishes.
                    </td>
                </tr>
                <tr class="info">
                    <td>Q7.</td>
                    <td>Are there any special activities?</td>
                </tr>
                <tr>
                    <td>A.</td>
                    <td>Couples can enjoy a 60% discount when dining on Valentine's Day.</td>
                </tr>
                <tr class="info">
                    <td>Q8.</td>
                    <td>Do I need to make an appointment in advance?</td>
                </tr>
                <tr>
                    <td>A.</td>
                    <td>Yes, but not necessary (you can reserve seats by phone or email).</td>
                </tr>
                <tr class="info">
                    <td>Q9.</td>
                    <td>How can I report personal property lost or found in the restaurant?</td>
                </tr>
                <tr>
                    <td>A.</td>
                    <td>If an item is found in store it will be handed into our Office Team on 3
                        for safe storage. Should you lose anything whilst in store, please contact Office Team by
                        E-mail
                        or Phone.
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
<footer class="panel-footer" style="width: 100%; overflow: hidden;">
                <div class="container">
                    <div class="row footer-top" style="text-align: center;">
                        <h1 style="font-family: Niagara Engraved; color: black; text-shadow: 3px 3px 3px rgb(87, 175, 233);">Dancing Taste Buds</h1>
                        <h1 style="font-family: Niagara Engraved; font-size: 15px; color: black; ">©copyright</h1>
                    </div>
                    <hr style="border: 1px  solid #000000;">
                    <div class="row" style="text-align: center;">
                        <div class="col-sm-3 col-md-3 col-lg-3" style=" color: black; font-family: Rockwell;">
                            <p ></p>Location</p>
                            <p>University Ave</p>
                            <p>Glasgow G12 8QQ</p>
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3" style=" color: black; font-family: Rockwell;">
                            <p>Open Hours</p>
                            <p>Monday-Saturday</p>
                            <p>11:00 AM - 23:00 PM</p>
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3" style=" color: black; font-family: Rockwell;">
                            <p>E-mail</p>
                            <p>DancingTasteBuds@outlook.com</p>
                            <p>DancingTasteBuds@gmail.com</p>
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3" style=" color: black; font-family: Rockwell;">
                            <p>Call</p>
                            <p>+44 6666 666666</p>
                            <p>+44 6666 888888</p>
                        </div>
                    </div>
                </div>
            </footer>
</html>