<!DOCTYPE html>
<html>
<head>
    <title>Restaurant</title>
</head>
<body>
<h1>Welcome to Restaurant</h1>
<p>Please select an option:</p>
<button onclick="location.href='login'">login</button>
<button onclick="location.href='register'">register</button>
<button onclick="location.href='aboutus'">aboutus</button>
<button onclick="location.href='contactus'">contactus</button>
<button onclick="location.href='faqs'">faqs</button>
<button onclick="location.href='menu'">menu</button>
<button onclick="location.href='menu_detail'">menu_detail</button>
</body>
</html>
