<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu_detail</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        .dish-comment .btn-comment {
            width: 20%;
            background-color: rgb(10, 147, 165);
            border-color: rgb(10, 147, 165);
            margin-bottom: 0.5em;
            border-radius: 0;
            font-family: Tempus Sans ITC;
            font-weight: bold;
            border-radius: 20px;
        }

        .dish-comment .btn-comment:hover {
            width: 20%;
            background-color: rgb(56, 107, 141);
            border-color: rgb(56, 107, 141);
            font-family: Tempus Sans ITC;
            font-weight: bold;
        }

        p, h2 {
            font-size: 10px;
            margin-top: 2px;
            font-family: Tempus Sans ITC;
        }
    </style>
</head>

<body>
<div class="container">
    <div class="row">
        <nav class="navbar navbar-default" role="navigation"
             style="font-family: Tempus Sans ITC; font-size: 20px; font-weight: bold;">
            <div class="container-fluid">
                <div class="navbar-header">
                    <p style="font-size: 25px; color: rgb(6, 107, 141); text-shadow: 3px 3px 3px darkgray;">
                        Dancing Taste Buds</p>
                </div>
                <div>
                    <ul class="nav navbar-nav">
                        <li><a href="/">Home</a></li>
                        <li><a href="/menu">Menu</a></li>
                        <li><a href="/aboutus">About Us</a></li>
                        <li><a href="/contactus">Contact Us</a></li>
                        <li><a href="/faqs">FAQs</a></li>
                    </ul>
                    {% if info_dict == null %}
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="/login">Log in</a></li>
                            <li><a href="/register">Register</a></li>
                        </ul>
                    {% endif %}
                    {% if info_dict != null %}
                        <ul class="nav navbar-nav navbar-right">
                            <li><a>Welcome {{ info_dict.name }}</a></li>
                            <li><a href="/logout">logout</a></li>
                        </ul>
                    {% endif %}
                </div>
            </div>
        </nav>
    </div>
</div>
<section id="specials" class="specials">
    <div class="container">
        <div class="section-title">
            <h3
                    style="text-align: center; color: rgb(6, 107, 141); font-family: Tempus Sans ITC; font-size: 38px; text-shadow: 3px 3px 3px darkgray;">
                Would you like to taste this<span
                    style="font-weight: bold; color: rgb(96, 169, 189);">&nbsp;Dish?</span></h3>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <ul class="nav nav-tabs flex-column">
                    <div>
                        <!-- dish picture -->
                        <img src={{ data.dish_picture }} alt="" style="height: 250px; width: 250px;">
                    </div>

                </ul>
            </div>
            <div class="col-lg-9 mt-4 mt-lg-0">
                <div class="tab-content">
                    <div class="tab-pane active show" id="tab-1">
                        <div class="row">
                            <div class="col-lg-8 details order-2 order-lg-1">
                                <!-- dish name -->
                                <h3
                                        style="text-align: left; color: rgb(74, 77, 78); font-family: Tempus Sans ITC; font-size: 28px; text-shadow: 3px 3px 3px darkgray;">
                                    {{ data.dishname }}</h3>
                                <!-- dish id -->
                                <h3
                                        style="text-align: left; color: rgb(74, 77, 78); font-family: Tempus Sans ITC; font-size: 28px; text-shadow: 3px 3px 3px darkgray;">
                                    reference id: {{ data.dishid }}</h3>
                                <!-- dish category -->
                                <h3
                                        style="text-align: left; color: rgb(243, 173, 42); font-family: Tempus Sans ITC; font-size: 28px; text-shadow: 3px 3px 3px darkgray;">
                                    {{ data.type }}</h3>
                                <!-- dish price -->
                                <h3
                                        style="text-align: left; color: rgb(74, 77, 78); font-family: Tempus Sans ITC; font-size: 20px;">
                                    ￡{{ data.price }}</h3>
                                <!-- dish description -->
                                <h3
                                        style="text-align: left; color: rgb(74, 77, 78); font-family: Tempus Sans ITC; font-size: 18px;">
                                    {{ data.description }}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="comment" class="dish-comment">
    <div class="container">
        <div class="row">
            <!-- Comment List -->
            <div class="col-md-4">
                <div class="list">
                    <h3
                            style="text-align: center; color: rgb(95, 184, 213); font-family: Tempus Sans ITC; font-size: 22px; text-shadow: 3px 3px 3px darkgray;">
                        Comment List</h3>
                </div>
                <form class="form-horizontal" method="get" action="">
                    <div class="pre-scrollable">
                        <ul class="media-list" style="list-style-type: none; margin-top: 30px;">

                            {% for row in comment %}
                                <li class="media">
                                    <div class="media-left">
                                        {#                                        <a href="#">#}
                                        {#                                            <img src="{{ row.user_picture }}" style="height: 50px; width: 50px;"#}
                                        {#                                                 class="media-object">#}
                                        {#                                        </a>#}
                                        <!-- Username -->
                                        <h2>{{ row.username }}</h2>
                                    </div>
                                    <div class="media-body">
                                        <p>{{ row.comment }}</p>
                                    </div>
                                </li>
                            {% endfor %}

                        </ul>
                    </div>
                </form>
            </div>
            <!-- Comment Area -->
            <div class="col-md-8">
                <div class="tips">
                    <h3
                            style="text-align: center; color: rgb(95, 184, 213); font-family: Tempus Sans ITC; font-size: 22px; text-shadow: 3px 3px 3px darkgray;">
                        Please don't forget to write your comment of this dish!</h3>
                </div>

                {% if info_dict %}
                    <form class="form-horizontal" role="form" method="post" action="">
                        <div class="form-group" style="text-align: center;">
                            <input type="hidden" name="dishid" value={{ data.dishid }}/>
                            <input type="hidden" name="dishname" value={{ data.dishname }}/>
                            <input type="hidden" name="type" value={{ data.type }}/>
                            <input type="hidden" name="price" value={{ data.price }}/>
                            <input type="hidden" name="description" value={{ data.description }}/>
                            <input type="hidden" name="dish_picture" value={{ data.dish_picture }}/>
                            <textarea class="form-control" rows="7" name="text"
                                      placeholder="Please input your comment..."
                                      required="required"
                                      style="margin: 30px 0 10px 0;"></textarea>
                            <input type="submit" value="Submit" class="btn btn-success btn-comment"
                                   style="margin-top: 5px; ;">
                            <span style="color: red;">{{ reminder }}</span>
                        </div>
                    </form>
                {% endif %}

                {% if info_dict is None %}
                    <form class="form-horizontal" role="form" method="post" action="/login/">
                        <div class="form-group" style="text-align: center;">
                            <input type="hidden" name="comment" value="You need to be logged in to comment"/>
                            <textarea class="form-control" rows="7"
                                      placeholder="Please input your comment..."
                                      style="margin: 30px 0 10px 0;"></textarea>
                            <input type="submit" value="Submit" class="btn btn-success btn-comment"
                                   style="margin-top: 5px; ;">
                        </div>
                    </form>
                {% endif %}


            </div>
        </div>
    </div>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
<footer class="panel-footer" style="width: 100%; overflow: hidden;">
    <div class="container">
        <div class="row footer-top" style="text-align: center;">
            <h1 style="font-family: Niagara Engraved; color: black; text-shadow: 3px 3px 3px rgb(87, 175, 233);">Dancing
                Taste Buds</h1>
            <h1 style="font-family: Niagara Engraved; font-size: 15px; color: black; ">©copyright</h1>
        </div>
        <hr style="border: 1px  solid #000000;">
        <div class="row" style="text-align: center;">
            <div class="col-sm-3 col-md-3 col-lg-3" style=" color: black; font-family: Rockwell;">
                <p></p>Location</p>
                <p>University Ave</p>
                <p>Glasgow G12 8QQ</p>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3" style=" color: black; font-family: Rockwell;">
                <p>Open Hours</p>
                <p>Monday-Saturday</p>
                <p>11:00 AM - 23:00 PM</p>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3" style=" color: black; font-family: Rockwell;">
                <p>E-mail</p>
                <p>DancingTasteBuds@outlook.com</p>
                <p>DancingTasteBuds@gmail.com</p>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3" style=" color: black; font-family: Rockwell;">
                <p>Call</p>
                <p>+44 6666 666666</p>
                <p>+44 6666 888888</p>
            </div>
        </div>
    </div>
</footer>
</html>